/* You can add global styles to this file, and also import other style files */
.dashboardLeftSidebar {
  position: fixed;
  background: #fff;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  padding-top: 10px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
  transition: 0.2s ease-in;
  overflow-y: auto;
  padding-bottom: 80px;
}
.mainDashboardSec {
  margin-top: 0px;
}
.dashboardPageWrapper {
  margin-left: 260px;
  position: relative;
  transition: 0.2s ease-in;
}
